.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}
.page{
  min-height: 29rem; 
}
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  bottom: 0;
  left: 0;
  position: relative;
  right: 0;
}

footer p {
  margin-bottom: .25rem;
}
.button{
  margin-top: 40px;
}
.jumbotron{
  margin-top: 40px;
}
.lang{
  width: 100%;
}
#q2, #q3, #q4{
  display: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  display: none!important;
}
.card {
    margin-bottom: 0px!important; 
    border: 1px dotted #e3e3e3!important;
}